<!DOCTYPE html>
<html lang="en">
<head>

     <title>Who Wins?</title>
<!-- 

Get Ready Template

https://templatemo.com/tm-521-get-ready

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/vegas.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

    <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1>Us</h1>
             <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/butwhy">But Why?</a></li>
                <li><a href="https://github.com/tsuialan">Alan</a></li>
                <li><a href="https://github.com/kennyyu168">Kenny</a></li>
            </ul>
           </div>

           <div class="col-md-4 col-sm-6">
             <address>
               <h1>Where we from</h1>
               <p> San Francisco, CA </p>
               
             </address>
           </div> 

           <div class="col-md-12 col-sm-12">
             <ul class="social-icon">
              <li class="line"></li>
               <li><a href="#" class="fa fa-facebook"></a></li>
               <li><a href="#" class="fa fa-twitter"></a></li>
               <li><a href="#" class="fa fa-instagram"></a></li>
             </ul>
           </div>
         </div>
       </div>
    </div>


     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                              <img src="{{ url_for('static', filename='images/nfl-league-logo.png') }}" style="width:200px;height:200px">
                              <h1>Enter two teams to predict the outcome!</h1>
                              {% if win == 1 %}
                              <h1 style="color:#55ff9a">{{team1}}</h1>
                              {% elif win == 2 %}
                              <h1 style="color:#ff5555">{{team1}}</h1>
                              {% else %}
                              <h1>{{team1}}</h1>
                              {% endif %}
                             
                              {% if win == 1 %}
                              <h1 style="color:#ff5555">{{team2}}</h1>
                              {% elif win == 2 %}
                              <h1 style="color:#55ff9a">{{team2}}</h1>
                              {% else %}
                              <h1>{{team2}}</h1>
                              {% endif %}
                              <h1> </h1>
                              <div class="subscribe-form">
                                <form action="{{url_for('.main')}}" method="post">
                                  <input type="text" name="teams" class="form-control" placeholder="Enter two teams" required="">
                                  <button type="submit" class="form-control"><i class="fa fa-forward"></i></button>
                                </form>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <!-- <script src="{{ url_for('static', filename='js/vegas.min.js') }}"></script> -->
     <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
     <script src="{{ url_for('static', filename='js/init.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>